# Root
*.root

# Object file
*.o
*.pyc

# Emacs files
*~
*#

# General files
*.txt
*.log
*.bak
*transcript

# modelsim
*.mti
*.mpf
*.dbg
*.wlf

# dir's
steffi_stuff_all/auto-comp-files/
VHDL/modelsim/bubble_sort_moduals/work/

