# Root
*.root

# Object file
*.o
*.pyc

# Emacs files
*~
*#

# General files
*.txt
*.log
*.bak
*transcript

# modelsim
*.mti
*.dbg
*.wlf

#quartus
*.ipinfo
*.qsf
*.qws

# dir's
steffi_stuff_all/auto-comp-files/
VHDL/modelsim/bubble_sort_moduals/work/
VHDL/quartus/incremental_db/
VHDL/quartus/output_files/
VHDL/quartus/db/

#executables
timesync_validation/timesyncAnalysis
data_Train_Size_Analysis/size_analysis